<div class="mt-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="exampleInputEmail1">Key </label>

      <input
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Enter key ..."
        name="q"
      />

      <div class="form-group">
        <label>Gender </label>
        <select class="form-control" id="gender-input" name="gender">
          <option>---Select gender ---</option>
          <option>Male</option>
          <option>Female</option></select>
      </div>

    </div>
    <button type="submit" class="btn btn-primary">find</button>
  </form>
</div>